#Ignore Qt shadow builds
**/build-SolAR*
scripts/build/*  
*.so.*
*.so
/*/*/*.txt
*.pc
*.stash
*.o
/*/*/Makefile
remaken*
*.sln
*.vs*
tools/*
*.pro.user
SolARFramework/core/SolARFrameworkGRPCRemote/*

