[submodule "core/SolARFramework"]
	path = core/SolARFramework
	url = ../SolARFramework
	branch = .
[submodule "core/SolARFrameworkGRPCRemote"]
	path = core/SolARFrameworkGRPCRemote
	url = ../SolARFrameworkGRPCRemote
	branch = .
[submodule "modules/SolARModuleTools"]
	path = modules/SolARModuleTools
	url = ../SolARModuleTools
	branch = .
[submodule "samples/Sample-Slam"]
	path = samples/Sample-Slam
	url = ../Sample-Slam
	branch = .
[submodule "modules/SolARModuleOpenCV"]
	path = modules/SolARModuleOpenCV
	url = ../SolARModuleOpenCV
	branch = .
[submodule "modules/SolARModuleOpenGV"]
	path = modules/SolARModuleOpenGV
	url = ../SolARModuleOpenGV
	branch = .
[submodule "modules/SolARModuleOpenGL"]
	path = modules/SolARModuleOpenGL
	url = ../SolARModuleOpenGL
	branch = .
[submodule "modules/SolARModuleNonFreeOpenCV"]
	path = modules/SolARModuleNonFreeOpenCV
	url = ../SolARModuleNonFreeOpenCV
	branch = .
[submodule "modules/SolARModuleFBOW"]
	path = modules/SolARModuleFBOW
	url = ../SolARModuleFBOW
	branch = .
[submodule "modules/SolARModuleCeres"]
	path = modules/SolARModuleCeres
	url = ../SolARModuleCeres
	branch = .
[submodule "modules/SolARModuleG2O"]
	path = modules/SolARModuleG2O
	url = ../SolARModuleG2O
	branch = .
[submodule "samples/Sample-Triangulation"]
	path = samples/Sample-Triangulation
	url = ../Sample-Triangulation
	branch = .
[submodule "core/SolARPipelineManager"]
	path = core/SolARPipelineManager
	url = ../SolARPipelineManager
	branch = .
[submodule "plugin/unity/SolARUnityPlugin"]
	path = plugin/unity/SolARUnityPlugin
	url = ../SolARUnityPlugin
	branch = develop
[submodule "modules/SolARModuleRealSense"]
	path = modules/SolARModuleRealSense
	url = ../SolARModuleRealSense
	branch = .
[submodule "modules/SolARModulePCL"]
	path = modules/SolARModulePCL
	url = ../SolARModulePCL
	branch = .
[submodule "modules/SolARModulePopSift"]
	path = modules/SolARModulePopSift
	url = ../SolARModulePopSift
	branch = .
[submodule "samples/Sample-DepthCamera"]
	path = samples/Sample-DepthCamera
	url = ../Sample-DepthCamera
	branch = .
[submodule "samples/Sample-FiducialMarker"]
	path = samples/Sample-FiducialMarker
	url = ../Sample-FiducialMarker
	branch = .
[submodule "samples/Sample-Mapping"]
	path = samples/Sample-Mapping
	url = ../Sample-Mapping
	branch = .
[submodule "samples/Sample-NaturalImageMarker"]
	path = samples/Sample-NaturalImageMarker
	url = ../Sample-NaturalImageMarker
	branch = .
[submodule "samples/Sample-Relocalization"]
	path = samples/Sample-Relocalization
	url = ../Sample-Relocalization
	branch = .
[submodule "samples/Sample-MapUpdate"]
	path = samples/Sample-MapUpdate
	url = ../Sample-MapUpdate
	branch = .
[submodule "services/Service-MapUpdate"]
	path = services/Service-MapUpdate
	url = ../Service-MapUpdate
[submodule "services/Service-Relocalization"]
	path = services/Service-Relocalization
	url = ../Service-Relocalization
[submodule "services/Service-Mapping"]
	path = services/Service-Mapping
	url = ../Service-Mapping
[submodule "plugin/unity/SolARUnityClientHololens2Plugin"]
	path = plugin/unity/SolARUnityClientHololens2Plugin
	url = ../SolARUnityClientHololens2Plugin
[submodule "plugin/unity/SolARUnityClientHololens2"]
	path = plugin/unity/SolARUnityClientHololens2
	url = ../SolARUnityClientHololens2
